<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(/website/images/checkout.png) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner">
                        <nav class="bradcaump-inner">
                        
                     
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- cart-main-area start -->
<div class="checkout-wrap ptb--100">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="checkout__inner">
                    <div class="accordion-list">
                        <div class="accordion">
                            <form method="POST" action="/user/cart/checkout/order/">
                            <div class="accordion__title">
                                Address Information
                            </div>
                            <div class="accordion__body">
                                <div class="bilinfo">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="single-input">
                                                    <input type="text" placeholder="First name" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="single-input">
                                                    <input type="text" placeholder="Street Address" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="single-input">
                                                    <input type="text" placeholder="Apartment/Block/House (optional)">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-input">
                                                    <input type="text" placeholder="City/State" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-input">
                                                    <input type="text" placeholder="Post code/ zip" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-input">
                                                    <input type="email" placeholder="Email address" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-input">
                                                    <input type="text" placeholder="Phone number">
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="accordion__title">
                                payment information
                            </div>
                            <div class="accordion__body">
                                <div class="paymentinfo">
                                    <div class="single-method">
                                        <a href="#"><i class="zmdi zmdi-long-arrow-right"></i>Cash On Delivery </a>
                                    </div>
                                    
                                </div>
                            </div>
                            <input style="background: #ebebeb none repeat scroll 0 0;
                            color: #3f3f3f;
                            font-family: 'Poppins', sans-serif;
                            font-size: 12px;
                            font-weight: 500;
                            height: 62px;
                            line-height: 62px;
                            padding: 0 45px;
                            text-transform: uppercase;
                            display: inline-block;border: none;transition: all 0.3s ease-out 0s;" type="submit" value="Place Order">
                        </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="order-details">
                    <h5 class="order-details__title">Your Order</h5>
                    <div class="order-details__item">
                        <% for(let i = 0 ; i < whole_user.cart.length ; i++){ %>
                            <div class="single-item">
                                <div class="single-item__thumb">
                                    <img src="<%=whole_user.cart[i].product.product_img%>" alt="ordered item">
                                </div>
                                <div class="single-item__content">
                                    <a href="#"><%=whole_user.cart[i].product.name%></a>
                                    <span class="price">₹<%=whole_user.cart[i].product.sp%></span>
                                    <span class="quantity">QTY:<%=whole_user.cart[i].qty%></span>
                                </div>
                                <div class="single-item__remove">
                                    <a href="/user/cart/delete/?id=<%=whole_user.cart[i]._id %>"><i class="zmdi zmdi-delete"></i></a>
                                </div>
                            </div>
                        <% } %>
                        
                    </div>
                    <div class="order-details__count">
                        <div class="order-details__count__single">
                            <h5>sub total</h5>
                            <span class="price total__price">₹</span>
                        </div>
                        <div class="order-details__count__single">
                            <h5>Tax</h5>
                            <span class="price">₹<span class="tax">9.00</span></span>
                        </div>
                    </div>
                    <div class="ordre-details__total">
                        <h5>Order total</h5>
                        <span class="price tp">₹</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    checkoutTotal();
</script>