<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AAPKI DUKAN</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="/website/images/favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    

    <!-- All css files are included here. -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="/website/css/bootstrap.min.css">
    <!-- Owl Carousel min css -->
    <link rel="stylesheet" href="/website/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/website/css/owl.theme.default.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="/website/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="/website/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="/website/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/website/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="/website/css/custom.css">


    <!-- Modernizr JS -->
    <script src="/website/js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- Start Header Style -->
        <header id="htc__header" class="htc__header__area header--one">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="menumenu__container clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5"> 
                                <div class="logo">
                                     <a href="/"><img src="/website/images/4.png" alt="logo images"></a>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-8 col-sm-5 col-xs-3">
                                <nav class="main__menu__nav hidden-xs hidden-sm">
                                    <ul class="main__menu">
                                        <li class="drop"><a href="/">Home</a></li>
                                        <li class="drop"><a href="#">CATEGORY</a>
                                            <ul class="dropdown">
                                                <% for(let i = 0 ; i < categories_list.length ; i++){ %>
                                                    <% if(categories_list[i].status == 1) {%>
                                                        <li><a href="/category?id=<%= categories_list[i]._id %>"><%= categories_list[i].name %></a></li>
                                                    <% } %>
                                                    
                                                <% } %>
                                                
                                            </ul>
                                        </li>
                                        <li class="drop"><a href="/about-us">ABOUT US</a>
                                        <li><a href="/contact-us">contact</a></li>
                                       
                                    </ul>
                                </nav>

                                <div class="mobile-menu clearfix visible-xs visible-sm">
                                    <nav id="mobile_dropdown">
                                        <ul>
                                            <li><a href="/">Home</a></li>
                                            <% for(let i = 0 ; i < categories_list.length ; i++){ %>
                                                <% if(categories_list[i].status == 1) {%>
                                                    <li><a href="/category/?id=<%=categories_list[i]._id%>"><%= categories_list[i].name %></a></li>
                                                <% } %>
                                                
                                            <% } %>
                                            <li class="drop"><a href="/about-us">ABOUT US</a>
                                            <li><a href="/contact-us">contact</a></li>
                                            
                                        </ul>
                                    </nav>
                                </div>  
                            </div>
                            <div class="col-md-3 col-lg-2 col-sm-4 col-xs-4">
                                <div class="header__right">
                                    <% if(locals.user){%>
                                        <h3 style="margin-right: 1rem;justify-content: center;"><a href="/logout">LogOut</a></h3>
                                    <% }else{ %>
                                        <h3 style="margin-right: 1rem;justify-content: center;"><a href="/login-register">LogIn | Register</a></h3>
                                    <% } %>
                                    
                                    <% if(locals.user) { %>
                                        <div class="htc__shopping__cart">
                                            <a class="cart__menu" href="/cart-page"><i class="icon-handbag icons"></i></a>
                                            <a href="/cart-page"><span class="htc__qua"><%= locals.user.cart.length %></span></a>
                                        </div>
                                    <% } %>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <!-- End Header Area -->

       
        
            <%- body %>
       
            <footer id="htc__footer">
                <!-- Start Footer Widget -->
                <div class="footer__container bg__cat--1">
                    <div class="container">
                        <div class="row">
                            <!-- Start Single Footer Widget -->
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="footer">
                                    <h2 class="title__line--2">ABOUT US</h2>
                                    <div class="ft__details">
                                        <p>Aapki Dukaan encourages all the small scale enterpeneurs to come online and expand their business. Soon we will be available on all social media platforms. </p>
                                        <div class="ft__social__link">
                                            <ul class="social__link">
                                                <li><a href="#"><i class="icon-social-twitter icons"></i></a></li>
    
                                                <li><a href="#"><i class="icon-social-instagram icons"></i></a></li>
    
                                                <li><a href="#"><i class="icon-social-facebook icons"></i></a></li>
    
                                                <li><a href="#"><i class="icon-social-google icons"></i></a></li>
    
                                                <li><a href="#"><i class="icon-social-linkedin icons"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Footer Widget -->
                            <!-- Start Single Footer Widget -->
                            <div class="col-md-2 col-sm-6 col-xs-12 xmt-40">
                                <div class="footer">
                                    <h2 class="title__line--2">information</h2>
                                    <div class="ft__inner">
                                        <ul class="ft__list">
                                            <li><a href="about-us.html">About us</a></li>
                                            <li><a href="about-us.html ">Terms  & Condition</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Footer Widget -->
                       
                            <!-- Start Single Footer Widget -->
                            <div class="col-md-2 col-sm-6 col-xs-12 xmt-40 smt-40">
                                <div class="footer">
                                    <h2 class="title__line--2">Our service</h2>
                                    <div class="ft__inner">
                                        <ul class="ft__list">
                                            <li><a href="MY ACCOUNT.html ">My Account</a></li>
                                            <li><a href="cart.html">My Cart</a></li>
                                            <li><a href="login.html ">Login</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Footer Widget -->
                            <!-- Start Single Footer Widget -->
                            <div class="col-md-3 col-sm-6 col-xs-12 xmt-40 smt-40">
                                <div class="footer">
                                    <h2 class="title__line--2">NEWSLETTER </h2>
                                    <div class="ft__inner">
                                        <div class="news__input">
                                            <input type="text" placeholder="Your Mail*">
                                            <div class="send__btn">
                                                <a class="fr__btn" href="#">Send Mail</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Footer Widget -->
                        </div>
                    </div>
                </div>
                <!-- End Footer Widget -->
                <!-- Start Copyright Area -->
                <div class="htc__copyright bg__cat--5">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="copyright__inner">
                                    <p>Copyright© <a href="#">Socio-preneurs</a> 2020. All rights reserved.</p>
                                    <a href="#"><img src="images/others/shape/paypol.png" alt="payment images"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Copyright Area -->
            </footer>
            <!-- End Footer Style -->
        </div>
        <!-- Body main wrapper end -->
    
        <!-- Placed js at the end of the document so the pages load faster -->
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <script>
            <% if(flash.success && flash.success.length > 0) { %>
            new Noty({
                layout: 'topRight',
                theme: 'relax', // or relax
                type: 'success', // success, error, warning, information, notification
                text: '<%= flash.success %>', // [string|html] can be HTML or STRING
                timeout : 1500
            }).show();
        <% } %>
        <% if(flash.error && flash.error.length > 0) { %>
            new Noty({
                layout: 'topRight',
                theme: 'relax', // or relax
                type: 'error', // success, error, warning, information, notification
                text: '<%= flash.error %>', // [string|html] can be HTML or STRING
                timeout : 1500
            }).show();
        <% } %>
        </script>
        <!-- jquery latest version -->
        <script src="/website/js/vendor/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap framework js -->
        <script src="/website/js/bootstrap.min.js"></script>
        <!-- All js plugins included in this file. -->
        <script src="/website/js/plugins.js"></script>
        <script src="/website/js/slick.min.js"></script>
        <script src="/website/js/owl.carousel.min.js"></script>
        <!-- Waypoints.min.js. -->
        <script src="/website/js/waypoints.min.js"></script>
        <!-- Main js file that contents all jQuery plugins activation. -->
        <script src="/website/js/main.js"></script>
        <%- script %>

    </body>

    </html>